<!--投稿一覧画面-->

<% @books.each do |book| %>

<div>
  <%= link_to book_path(book.id) do %>
  <p><%= book.title %></p>
  <% end %>
  
  <p><%= book.body %></p>
  <%= attachment_image_tag book.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %>
  <p><%= book.user.name %></p>
</div>
<% end %>